{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h3 class="mb-4">Landing Pages</h3>
    
    <div class="row">
        {% for asset in assets %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <h5>{{ asset.name }}</h5>
                <p>Slug: {{ asset.slug }}</p>
                <a href="{{ url_for('developer.page_view', slug=asset.slug) }}" class="btn btn-sm btn-info" target="_blank">Preview</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
